

html,body {
    height:100%;
}

p{
    font-family: 'Cinzel', serif;
    line-height: 200%;
}

#hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#hero-text h1{
    font-size: 900%;
}

.hero-text-header{
    font-family: 'Cinzel', serif;
    font-size: 500%;
}

.contact-title{
    font-family: 'Cinzel', serif;
}

.section{
    height: 95vh;
}

.navbar-brand {
    padding-top: 0;
}

.first {
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('../images/japanese-garden8.png');
}

.affix {
    -webkit-transition:padding 0.2s ease-out;
    -moz-transition:padding 0.2s ease-out;
    -o-transition:padding 0.2s ease-out;
    transition:padding 0.2s ease-out;

}

@media (min-width:768px) {
    .affix-top {
        /* navbar style at top */
        background:transparent;
        border-color:transparent;
        padding: 15px;
        -webkit-transition:all 0.5s ease;
        -moz-transition:all 0.5s ease;
        -o-transition:all 0.5s ease;
        transition:all 0.5s ease;
    }
}

.affix-top .nav>li>a {
    color: #ffffff;
    font-family: 'Cinzel', serif;
}

.affix-top.navbar .nav>li>a:hover,
.affix-top.navbar .navbar-brand
{
    color: #333;
}

.navItem{
    font-size: 200%;
    font-family: 'Cinzel', serif;
}

/*section {*/
    /*height:calc(90% - 50px);*/
    /*height: 90vh;*/
/*}*/

.info-box{
    visibility: hidden;
}

.gridImage{
    min-height: 47vh;
    background-image: url("../images/plate3.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}

.gridImage2{
    min-height: 48vh;
    background-image: url("../images/anotherShow2.jpg");
    background-position-x: center;
    background-position-y: top;
    background-size: cover;
}

.no-padding{
    padding-left: 0;
    padding-right: 0;
}

.section-title{
    font-family: 'Cinzel', serif;
}

.about-title{
    font-family: 'Cinzel', serif;
    padding-top: 7%;
    padding-bottom: 5%;
}

.middle-text{
    /*padding-top: 20%;*/
}

@media (max-width: 768px){
    .middle-text{
        padding-top: 2%;
    }
}

.hidden{
    visibility: hidden;
}

#showDates{
    /*background-color: #1a1a1a;*/
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.7)
    ), url("../images/stairs2.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    padding-top: 5%;
}

#border{
    border-style: solid;
    border-width: medium;
    border-color: white;
    margin-right: 20%;
    margin-left: 20%;
}

@media (max-width: 768px){
    #border{
        border: none;
    }
}

.white{
    color: #d9d9d9;
}

#event-title{
    margin-top: 2%;
}

#eventDateBox{
    margin-top: 10%;
}

#contact{
    margin-bottom: 10%;
    margin-top: 2%;
}

.business-info{
    font-size: 110%;
}

.home-newsletter {
    padding: 100px 0;
    background: #f2f2f2;
    margin-left: -15px;
    margin-right: -15px;
}

.home-newsletter .single {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
.home-newsletter .single h2 {
    font-size: 22px;
    color: black;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    margin-bottom: 40px; }
.home-newsletter .single .form-control {
    height: 50px;
    background: rgba(255, 255, 255, 0.6);
    border-color: transparent; }
.home-newsletter .single .form-control:focus {
    box-shadow: none;
    border-color: #243c4f; }
.home-newsletter .single .btn {
    min-height: 50px;
    background: #243c4f;
    color: #fff;
}